<div>
    <form (ngSubmit)="addTeam()">
        <label for="team-name">Nazwa zespołu:</label>
        <input id="team-name" type="text" [(ngModel)]="newTeamName" name="teamName" required>
        <button type="submit" style="color: black;">Dodaj zespół</button>
    </form>

    @if(teams().length > 0) {
    <table>
        <thead>
            <tr>
                <th>LP</th>
                <th>Nazwa Zespołu</th>
                <th>Suma punktów zespołu</th>
                <th>Usuń zespół</th>
                <th>Edytuj nazwę zespołu</th>
            </tr>
        </thead>
        <tbody>
            @for (team of teams(); track team.id) {
            <tr>
                <td>{{ team.id }}</td>
                <td>
                    @if(editingTeamId !== team.id){
                        <span>{{ team.name }}</span>
                    }
                    @if(editingTeamId === team.id){
                        <input type="text" [(ngModel)]="editedTeamName">
                    }
                </td>
                <td>
                    @if(editingTeamId !== team.id){
                        <span>{{ team.points }}</span>
                    }
                    @if(editingTeamId === team.id){
                        <input type="number" [(ngModel)]="editedTeamPoints" min="0">
                    }
                </td>
                <td><button (click)="removeTeam(team.id)">Usuń</button></td>
                <td>
                    @if(editingTeamId !== team.id){
                        <button (click)="startEdit(team.id, team.name, team.points)">Edytuj</button>
                    }
                    @if(editingTeamId === team.id){
                        <button (click)="saveEdit(team.id)">Zapisz</button>
                        <button (click)="cancelEdit()">Anuluj</button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>