.question-container {
  padding: 20px 10px;
  margin-bottom: 55px;

  .text {
    margin-bottom: 55px;   
    font-size: 1.6rem;
    line-height: 1.4;
  }
}

.quiz-container {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  .choice {
    border: 1px solid #ccc;
    background: #f7ecec9e;
    border-radius: 14px;
    cursor: pointer;

    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    flex: 1 1 160px;
    max-width: 300px;
    min-width: 250px;

    padding: 15px;
 
    transition:
      transform 0.35s cubic-bezier(0.22, 1.2, 0.36, 1),
      box-shadow 0.35s ease;
  }
.choice.disabled {
  pointer-events: none;    
  opacity: 0.7;         
  transform: none !important;  
  box-shadow: none !important;
}
  .choice:hover { 
         transform: translateY(0px) scale(1.3); 
    box-shadow: -42px 25px 10px rgba(0, 0, 0, 0.18);
  }
}

 .poprawna, .niepoprawna {
  display: inline-block;
  animation: popZoom 0.45s ease-out forwards; 

}
 
@keyframes popZoom {
  0% {
    transform: scale(0) translateY(0);
    opacity: 0;
  }
  50% {
    transform: scale(3) translateY(-8px);
    opacity: 1;
  }
  70% {
    transform: scale(2) translateY(-4px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.select-row {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
}

.select-wrapper h2 {
  margin: 0 0 6px 0;
  font-size: 1.2rem;
  line-height: 1.2;
}
select {
  background-color: rgba(247, 236, 236, 0.32);
  color: black;
  padding: 8px 14px;
  border-radius: 8px;
    font-weight: 600;
  border: 1px solid #ccc;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

 
select option {
  background-color: rgba(247, 236, 236, 0.32) !important;
  color: black !important;
} 
select option:hover {
  background-color: rgba(230, 220, 220, 0.9) !important;
}
 
select:hover {
  background-color: rgba(247, 236, 236, 0.75);
}
 

 

@media (max-width: 420px) {
  .choice {
    min-width: 100px;
  }
}
